[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # added_quip: string. Defined if the CGI added a quip data before
  #                displaying anything; if defined, its value is that quip.
  # show_quips: boolean. True if we are showing the entire quip list.
  # quips: list of strings. Defined if and only if show_quips is true.
  #                List of all quips.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
           title = "Копилка перлов $terms.Bugzilla"
           header = "Добавьте своё изречение"
 %]

[% IF added_quip %]
  <p>
    <font color="red">
      Ваша мысль '<tt>[% added_quip FILTER html %]</tt>' была добавлена.
      [% IF Param("quip_list_entry_control") == "moderated" AND !user.in_group('bz_quip_moderators') %]
        Она будет использована после подтверждения.
      [% END %]
    </font>
  </p>
[% END %]

[% IF deleted_quip %]
  <p>
    <font color="red">
      Цитата '<tt>[% deleted_quip FILTER html %]</tt>' была удалена.
    </font>
  </p>
[% END %]

[% IF approved or unapproved %]
  <p>[% approved.size %] цитат разрешено и [% unapproved.size %] цитат запрещено</p>
[% END %]


<p>
  [% terms.Bugzilla %] выбирает случайную цитату из копилки для заголовка каждого
  список [% terms.bugs_gen %].
</p>

[% IF Param("quip_list_entry_control") != "closed" %]
  <p>
    Вы можете добавлять свои свои изречения. Напишите что-нибудь мудрое, 
    остроумное или просто смешное (пожалуйста, не пишите грубостей и непристойностей) 
    и нажмите педаль.
    [% IF Param("quip_list_entry_control") == "moderated" AND !user.in_group('bz_quip_moderators') %]
      Ваша цитата будет добавлена в копилку после подтверждения.
    [% END %]
  </p>

  <form method="post" action="quips.cgi">
    <input type="hidden" name="action" value="add">
    <input type="hidden" name="token"
           value="[% issue_hash_token(['create-quips']) FILTER html %]">    
    <input size="80" name="quip" maxlength="512">
    <p>
      <input type="submit" id="add" value="Добавить">
    </p>
  </form>
[% ELSE %]
  <p>Добавление цитат в данный момент запрещено.
  </p>
[% END %]

[% IF show_quips %]
  [% IF !user.in_group('bz_quip_moderators') %]
    <h2>
      Что сейчас в копилке:
    </h2>
    <ul>
      [% FOREACH quipid = quipids %]
        [% NEXT IF NOT quips.$quipid.approved %]
        <li>[% quips.$quipid.quip FILTER html %]</li>
      [% END %]
    </ul>
  [% ELSE %]
    <h2>Редактировать существующие цитаты:</h2>
    <p>
      <strong>Примечание:</strong> Только разрешенные цитаты будут показаны.
      Если в настройках системы параметр 'quip_list_entry_control' установлен 
      в <q>open</q>, введённые цитаты будут автоматически разрешены.
    </p>
    <form name="editform" method="post" action="quips.cgi">
      <input type="hidden" name="action" value="разрешить">
      <input type="hidden" name="token"
             value="[% issue_hash_token(['approve-quips']) FILTER html %]">      
      <table border="1">
        <thead><tr>
          <th>Цитата</th>
          <th>Автор</th>
          <th>Действие</th>
          <th>Разрешение</th>
        </tr></thead><tbody>
        [% FOREACH quipid = quipids %]
          <tr>
            <td>[% quips.$quipid.quip FILTER html %]</td>
            <td>
              [% userid = quips.$quipid.userid  %]
              [% users.$userid FILTER html      %]
              [% "Неизвестен" IF NOT users.$userid %]
            </td>
            <td>
              <a href="quips.cgi?action=delete&amp;quipid=[% quipid FILTER uri %]&amp;token=
                 [%- issue_hash_token(['quips', quipid]) FILTER uri %]">
                Удалить
              </a>
            </td>
            <td>
              <input type="hidden" name="defined_quipid_[% quipid FILTER html %]"
                     id="defined_quipid_[% quipid FILTER html %]"
                     value="1">
              <input type="checkbox" name="quipid_[% quipid FILTER html %]"
                     id="quipid_[% quipid FILTER html %]"
                     [%- ' checked="checked"' IF quips.$quipid.approved %]>
            </td>
          </tr>
        [% END %]
        </tbody>
      </table>
      <script type="text/javascript"><!--
        var numelements = document.forms.editform.elements.length;
        function SetCheckboxes(value) {
          var item;
          for (var i=0 ; i<numelements ; i++) {
            item = document.forms.editform.elements[i];
            item.checked = value;
          }
        }
        document.write(' <input type="button" name="uncheck_all" '
                      +'value="Запретить все" onclick="SetCheckboxes(false);">');
        document.write(' <input type="button" name="check_all" '
                      +'value="Разрешить все" onclick="SetCheckboxes(true);">');
        //--></script>

      <input type="submit" id="update" value="Сохранить изменения">
    </form>
    <br>
  [% END %]
[% ELSE %]
  <p>
    Любители мудростей в большом количестве могут
    <a href="quips.cgi?action=show">посмотреть
    [% IF user.in_group('bz_quip_moderators') %]
      и изменить
    [% END %]
    весь список цитат</a>.
  </p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
