[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

From: [% Param('mailfrom') %]
To: [% emailaddress %]
Subject:  Запрос на изменение пароля [% terms.Bugzilla %]
X-Bugzilla-Type: admin

Вами (или кем-то от Вашего имени) была запрошена смена пароля
[%+ terms.Bugzilla %].  Для смены пароля выберите ссылку:

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cfmpw

Если Вы не запрашивали этого изменения либо хотите его аннулировать,
выберите ссылку:

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cxlpw

Если Вы не ответите, запрос будет автоматически аннулирован через 
[% constants.MAX_TOKEN_AGE %] дней ([% expiration_ts FILTER time("%d.%m.%Y %H:%M %Z", timezone) -%]) 
или при следующем входе в систему.
