[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% title = "Изменение пароля" %]
[% PROCESS global/header.html.tmpl %]
[% password_complexity = Param('password_complexity') %]
<p>
  Для изменения пароля введите новый пароль дважды:<br>
</p>
<ul>
  <li>Длина пароля должна быть не менее [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] символов.</li>
  [% IF password_complexity == "mixed_letters" %] 
  <li>Пароль должен содержать по меньшей мере одну букву в ВЕРХНЕМ и одну букву в нижнем регистре.</li>
  [% ELSIF password_complexity == "letters_numbers" %] 
  <li>Пароль должен содержать по меньшей мере одну букву в ВЕРХНЕМ регистре, одну букву в нижнем регистре и одну цифру.</li>
  [% ELSIF password_complexity == "letters_numbers_specialchars" %] 
  <li>Пароль должен содержать по меньшей мере одну букву, одну цифру и один специальный символ.</li>
  [% END %]
</ul>

<form method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="chgpw">
  <table>
    <tr>
      <th align="right">Новый пароль:</th>
      <td>
        <input type="password" name="password">
      </td>
    </tr>
    
    <tr>
      <th align="right">Подтверждение пароля:</th>
      <td>
        <input type="password" name="matchpassword">
      </td>
    </tr>
    
    <tr>
      <th align="right">&nbsp;</th>
      <td>
        <input type="submit" id="update" value="Изменить">
      </td>
    </tr>
  </table>
</form>

[% PROCESS global/footer.html.tmpl %]
