[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # product : Bugzilla::Product Object; new product.
  # classification: Bugzilla::Classification Object; The product classification (may be empty or missing)
  # changes: hashref with all changes made to the product. Each key is an edited field,
  #          and its value is an arrayref of the form [old values, new values].
  #%]

[% IF classification %]
  [% classification_text = BLOCK %]
    of classification '[% classification.name FILTER html %]'
  [% END %]
[% END %]

[% title = BLOCK %]Изменение объекта '[% product.name FILTER html %]' 
                   [% classification_text FILTER none %][% END %]
[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% IF changes.name.defined %]
  <p>
  Название объекта изменено с '[% changes.name.0 FILTER html %]' на
  '<a href="editproducts.cgi?action=edit&amp;product=
  [%- product.name FILTER uri %]">[% product.name FILTER html %]</a>'.
  </p>
[% END %]


[% IF changes.description.defined %]
  <p>
    Изменено описание объекта:
  </p>
  <p style="margin: 1em 3em 1em 3em">[% product.description FILTER html_light %]</p>
[% END %]

[% IF changes.isactive.defined %]
  <p>
  Объект
  [% IF product.is_active %]
    открыт 
  [% ELSE %]
    закрыт
  [% END %]
  для регистрации [% terms.bugs_gen %].
  </p>
[% END %]

[% IF changes.defaultmilestone.defined %]
  <p>
  План по умолчанию изменен с '[% changes.defaultmilestone.0 FILTER html %]' на
  '[% product.default_milestone FILTER html %]'.
  </p>
[% END %]
  
[% IF changes.allows_unconfirmed.defined %]
  <p>
  [% IF product.allows_unconfirmed %]
    В объекте теперь можно использовать 
    статус [%+ display_value('bug_status', 'UNCONFIRMED') FILTER html %].
  [% ELSE %]
    В объекте больше нельзя использовать
    статус [%+ display_value('bug_status', 'UNCONFIRMED') FILTER html %].
    Обратите внимание, что все 
    <a href="buglist.cgi?product=
            [%- product.name FILTER uri %]&amp;bug_status=UNCONFIRMED">
    [%- terms.bugs %] имеющие в данное время статус 
    [%+ display_value('bug_status', 'UNCONFIRMED') FILTER html %]</a>
    останутся в этом статусе, пока он не будет изменён.
  [% END %]
  </p>
[% END %]

[% Hook.process('changes') %]

[% IF !changes.keys.size %]
  <p>Изменений объекта '[% product.name FILTER html %]' не обнаружено.</p>
[% END %]

[% PROCESS admin/products/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
