[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # comp: object; Bugzilla::Component object representing the component 
  # product: object; Bugzilla::Product object representing the product to
  #               which the component belongs.
  #%]

<hr>

<p>
Изменить 

[% IF comp && !no_edit_component_link %]
  раздел <a 
  title="Изменить раздел '[% comp.name FILTER html %]'"
  href="editcomponents.cgi?action=edit&amp;product=
  [%- product.name FILTER uri %]&amp;component=[% comp.name FILTER uri %]">
   '[% comp.name FILTER html %]'</a> 
  или
[% END %]

[% IF !no_edit_other_components_link %]
другие разделы объекта <a 
  title="Выберите раздел объекта '[% product.name FILTER html %]' to edit"
  href="editcomponents.cgi?product=
  [%- product.name FILTER uri %]">'[% product.name FILTER html %]'</a>,
  или 
[% END %]

объект <a 
  title="Изменить объект '[% product.name FILTER html %]'"
  href="editproducts.cgi?action=edit&amp;product=
  [%- product.name FILTER uri %]">'[% product.name FILTER html %]'</a>.

</p>
