[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Приложения"
   desc = "Настройка параметров приложений"
%]

[% param_descs = {
  allow_attachment_display =>
    "Позволяет пользователям просматривать приложения через веб-обозреватель,"
    _ " если он поддерживает соответствующий тип данных MIME."
    _ " При отключенном параметре пользователи должны загружать приложения, "
    _ " даже если веб-обозреватель может их отобразить."
    _ "<p>Эта мера безопасности предназначена для систем, в которых пользователь"
    _ " может создать приложение, способное нанести вред при просмотре напрямую "
    _ " через веб-обозреватель.</p>"
    _ "<p>При включении этого параметра рекомендуется также настроить параметр "
    _ " <tt>attachment_base</tt>.",

  attachment_base => 
    "При включенном параметре <tt>allow_attachment_display</tt>, приложение,"
    _ " написанное злоумышленно, может получить доступ к cookie или"
    _ " атаковать $terms.Bugzilla с использованием учетных данных пользователя."
    _ "<p>Во избежание этого в качестве дополнительной меры безопасности"
    _ " установите в этом параметре альтернативный адрес URL экземпляра ${terms.Bugzilla},"
    _ " не совпадающий ни с <tt>urlbase</tt> ни с <tt>sslbase</tt>."
    _ " Это должно быть другое доменное имя, указывающее на этот же"
    _ " экземпляр ${terms.Bugzilla}.</p>"
    _ "<p>Если установлен"
    _ " <a href=\"editparams.cgi?section=advanced#cookiedomain_desc\">параметр <tt>cookiedomain</tt></a>,"
    _" параметр <tt>attachment_base</tt> должен использовать"
    _ " домен, который <em>не совпадает</em> с"
    _ " <tt>cookiedomain</tt>.</p>"
    _ "<p>Для большей безопасности разрешается использовать в URL конструкцию <tt>%bugid%</tt>,"
    _ " которая заменяется номером текущей ${terms.bug_gen}, к которой"
    _ " относится приложение. Это ограничит возможности приложения"
    _ " доступом только к приложениям той же "
    _ " ${terms.bug_gen}. Помните, что все эти доменные имена "
    _ " (такие как <tt>1234.your.domain.com</tt>) должны указывать на"
    _ " этот экземпляр ${terms.Bugzilla}.",

  allow_attachment_deletion => "Разрешает администраторам удалять " _
                               "содержимое приложений.",

  maxattachmentsize => "Максимальный размер приложений в килобайтах, хранимых " _
                       "в базе данных. Если к ${terms.bug_obj} прикладывается " _
                       "файл большего размера, $terms.Bugzilla проверяет " _
                       "значение <a href=\"#maxlocalattachment\">параметра <tt>maxlocalattachment</tt></a>, " _
                       "чтобы определить, можно ли сохранить файл локально на веб-сервере. " _
                       "Если размер файла превышает оба лимита, то запрос на " _
                       "сохранение приложения отклоняется. Установка обоих " _
                       "параметров в 0 сделает добавление приложений к ${terms.bugs} невозможным.",

  maxlocalattachment => "Максимальный размер приложений в мегабайтах, хранимых " _
                        "локально на веб-сервере. Если этот параметр установлен в " _
                        "значение меньшее чем <a href=\"#maxattachmentsize\">параметр <tt>maxattachmentsize</tt></a>, " _
                        "приложения никогда не будут сохраняться на локальной файловой системе." }
%]
