[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Аутентификация пользователей"
   desc = "Настройка параметров аутентификации пользователей"
%]

[% param_descs = {
  auth_env_id => "Переменная среды, используемая внешней системой " _
                 "аутентификации для хранения уникального идентификатора пользователя. " _
                 "Оставьте значение пустым если внешняя система аутентификации " _
                 "не используется или такая возможность не поддерживается.",

  auth_env_email => "Переменная среды, используемая внешней системой " _
                    "аутентификации для хранения адреса электронной почты. " _
                    "Обязательно для внешней аутентификации.  Оставьте значение " _
                    "пустым если внешняя система аутентификации не используется.",

  auth_env_realname => "Переменная среды, используемая внешней системой " _
                       "аутентификации для хранения полного имени пользователя. " _
                       "Оставьте значение пустым если внешняя система аутентификации " _
                       "не используется или такая возможность не поддерживается.",

  user_info_class => "Механизмы получения информации о пользователе.
                      Допускается выбор нескольких вариантов.  Они применяются в
                      указанном порядке до получения непустого результата.<br>
                      Допустимые типы:
                      <dl>
                        <dt>" _ get_choice("CGI") _ "</dt>
                        <dd>
                          Интерактивный запрос имени пользователя и пароля через интерфейс CGI.
                        </dd>
                        <dt>" _ get_choice("Env") _ "</dt>
                        <dd>
                          Данные уже аутентифицированного пользователя переданы через переменные
                          среды.
                        </dd>
                      </dl>",

  user_verify_class => "Механизмы аутентификации (проверки) данных пользователя,
                        полученных через user_info_class.
                        Допускается выбор нескольких вариантов.  Они применяются в
                        указанном порядке до обнаружения пользователя.<br>
                        Допустимые типы:
                        <dl>
                          <dt>" _ get_choice("DB") _ "</dt>
                          <dd>
                            Встроенная аутентификация ${terms.Bugzilla}. Это наиболее частый
                            вариант.
                          </dd>
                          <dt>" _ get_choice("RADIUS") _ "</dt>
                          <dd>
                            Аутентификация через сервер RADIUS.
                            Перед использованием прочтите документацию ${terms.Bugzilla}.
                            Использование этого метода требует настройки 
                            <a href=\"?section=radius\">дополнительных
                            параметров</a>.
                          </dd>
                          <dt>" _ get_choice("LDAP") _ "</dt>
                          <dd>
                            Аутентификация через сервер LDAP. 
                            Перед использованием прочтите документацию ${terms.Bugzilla}.
                            Использование этого метода требует настройки 
                            <a href=\"?section=ldap\">дополнительных
                            параметров</a>.
                          </dd>
                        </dl>",

  rememberlogin => "Управление временем жизни сессионных \"cookie\"
                    <ul>
                      <li>"
                        _ get_choice("on") _ " - время жизни \"cookie\" не ограничено (достаточно войти
                        через каждый веб-обозреватель лишь однажды).
                      </li>
                      <li>"
                        _ get_choice("off") _ " - время жизни \"cookie\" только в течение сессии (входить в систему
                        придется каждый раз).
                      </li>
                      <li>"
                        _ get_choice("defaulton") _ "/" _ get_choice("defaultoff") _
                        " - поведение по умолчанию как описано выше, 
                        но каждый пользователь может выбрать поведение индивидуально.
                      </li>
                    </ul>",

  requirelogin => "Любой доступ к системе помимо главной страницы требует " _
                  "указания имени и пароля.  " _
                  "Анонимный доступ запрещен. ",

  emailregexp =>
    "Регулярное выражение для проверки синтаксиса допустимого адреса электронной " _
    "почты. Значение по умолчанию требует указания полного доменного имени. " _
    "Используйте <tt>.*</tt>, чтобы принимать любые адреса электронной почты следующие " _
    "спецификации <a href=\"http://tools.ietf.org/html/rfc2822#section-3.4.1\">RFC 2822</a> " _    
    "Другой популярный вариант: <tt>^[^@]+$</tt>, что означает " _
    "использование только локальных имен, без '@'.",  

  emailregexpdesc => "Текстовое описание правила определения допустимых адресов " _
                     "электронной почты, указанного в <tt>emailregexp</tt>.",

  emailsuffix => "Строка, добавляемая к адресу электронной почты перед отправкой сообщения " _
                 "на этот адрес.  Используется в случае изменения параметра " _
                 "<tt>emailregexp</tt> и разрешения только локальных имен пользователей, " _
                 "если почта при этом должна отправляться на username@my.local.hostname.",

  createemailregexp => "Регулярное выражение (нечувствительное к регистру), описывающее адреса " _
                       "электронной почты, разрешенные для самостоятельной регистрации. " _
                       "Значение по умолчанию (.*) разрешает создание учетных записей с любым " _
                       "значением, соответствующим <tt>emailregexp</tt>.  Пустое " _
                       "значение параметра запрещает самостоятельную регистрацию: " _
                       "все учетные записи должны быть созданы администратором.",

  password_complexity =>
    "Устанавливает требования к сложности паролей. Во всех случаях длина паролей " _
    "должна быть не менее ${constants.USER_PASSWORD_MIN_LENGTH} символов." _
    "<ul><li>no_constraints - Требования к сложности отсутствуют.</li>" _
    "<li>mixed_letters - Пароли должны содержать по меньшей мере одну букву в " _
    "ВЕРХНЕМ регистре и одну букву в нижнем регистре.</li>" _
    "<li>letters_numbers - Пароли должны содержать по меньшей мере одну букву в " _
    "ВЕРХНЕМ регистре, одну букву в нижнем регистре и цифру.</li>" _
    "<li>letters_numbers_specialchars - Пароли должны содержать по меньшей мере одну " _
    "букву, цифру и специальный символ.</li></ul>"
  }
%]
