[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% 
   title = "Общие"
   desc = "Разнообразные общие настройки, не требуемые для работы." 
%]

[% param_descs = {
  maintainer => 
    "Адрес электронной почты администратора этого экземпляра "
    _ " ${terms.Bugzilla}.",

  docs_urlbase => 
    "Адрес URL — общая часть всех адресов HTTP документации"
    _ " этого экземпляра ${terms.Bugzilla}. Допустим абсолютный URL,"
    _ " или относительно параметра <tt>urlbase</tt>. Если параметр"
    _ " не указан, ссылки на документацию отключены."
    _ " Строка '%lang%' заменяется на выбранный пользователем язык"
    _ " (если документация на нем существует).",

  utf8 => 
    "Использовать кодировку UTF-8 (Unicode) для всех данных ${terms.Bugzilla}."
    _ " Обязательно должен быть включен для вновь устанавливаемых баз данных"
    _ " во избежание проблем. <strong>Для существующих БД устанавливать только"
    _ " после конвертации данных из унаследованных кодировок"
    _ " в UTF-8 при помощи скрипта <kbd>contrib/recode.pl</kbd></strong>."
    _ " <p>При включении параметра обязателен запуск <kbd>checksetup.pl</kbd>"
    _ " сразу после изменения значения.</p>"
    _ " <strong>Включение параметра обязательно при использовании Bugzilla-ru.</strong>",

  shutdownhtml => 
    "Если это поле не пусто, доступ к $terms.Bugzilla полностью"
    _ " запрещен и данный текст отображается при обращении к любой"
    _ " странице ${terms.Bugzilla}.",

  announcehtml => 
    "Если это поле непусто, его содержимое отображается"
    _ " вверху каждой страницы ${terms.Bugzilla}."
    _ " HTML в этом поле не форматируется дополнительно,"
    _ " для выделения рекомендуется использовать"
    _ "<tt>&lt;div&gt;</tt>. Используйте <em>id=\"message\"</em> для получения"
    _ " зеленого текста в красной рамке или <em>class=\"bz_private\"</em> для"
    _ " темно-красного на красном фоне.  Допускается использование любых стилей,"
    _ " определенных в <tt>skins/standard/global.css</tt> или"
    _ " <tt>skins/custom/global.css</tt>. Для размещения текста по центру используйте"
    _ " <em>style=\"text-align: center;\"</em>.",

  upgrade_notification => 
    "Оповещения о доступности обновлений ${terms.Bugzilla}."
    _ " Оповещение отображается на главной странице ${terms.Bugzilla},"
    _ " только для администраторов."
    _ " <ul><li>'development_snapshot' оповещает о выходе новых"
    _ " нестабильных релизов для разработчиков.</li>"
    _ " <li>'latest_stable_release' оповещает о выходе последних стабильных"
    _ " версий самой свежей из стабильных ветвей. Эта ветвь может"
    _ " не совпадать с используемой данным экземпляром ${terms.Bugzilla}.</li>"
    _ " <li>'stable_branch_release' оповещает о выходе стабильных"
    _ " версий, соответствующих ветви, используемой данным экземпляром ${terms.Bugzilla}."
    _ " Если используется предварительный релиз, будут оповещения"
    _ " о выходе новых предварительных релизов.</li>"
    _ " <li>'disabled' не использовать оповещения и не устанавливать"
    _ " связь с сервером обновлений.</li></ul>"
    _ " <p>Обратите внимание, что если ваш сервер $terms.Bugzilla использует прокси"
    _ " для доступа в Интернет, то вам может понадобиться установить параметр"
    _ " <tt>proxy_url</tt> в разделе Дополнительно.</p>",
} %]
