[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Групповые права доступа"
   desc = "Настройки разграничения доступа при помощи групп"
%]

[% param_descs = {
  makeproductgroups => "Связать отдельную пользовательскую группу, с каждым объектом " _
                       "${terms.Bugzilla} для управления видимостью ${terms.bugs_gen}.",

  chartgroup => "Группа, пользователи которой имеют доступ к отчетам и диаграммам. " _
                "Прежде чем разрешить доступ внешним пользователям, администратор " _
                "должен убедиться, что общедоступные серии данных не дают возможности " _
                "анализировать конфиденциальную информацию. При пустом значении " _
                "параметра статистические диаграммы недоступны никому.",

  insidergroup => "Группа, члены которой имеют доступ к конфиденциальным комментариям " _
                  "и приложениям.",

  timetrackinggroup => "Группа, члены которой имеют доступ к данным " _
                       "учета рабочего времени.",

  querysharegroup => "Группа, члены которой могут публиковать хранимые " _
                     "условия отбора для остальных.",
                     
  debug_group => "Группа, члены которой могут увидеть реальный SQL-запрос, " _
                 "сгенерированный при просмотре списков и отчетов ${terms.bug_gen}.",

  usevisibilitygroups => "Ограничить доступ к списку пользователей определенными " _
                         "группами?",
  
  strict_isolation => "Не разрешать назначение пользователя исполнителем, " _
                      "ответственным за приемку, " _
                      "подписку на изменение, " _
                      "создание и удаление зависимостей " _
                      "по любым ${terms.bugs_dat}, изменение которых " _
                      "данному пользователю недоступно.", 

 }
%]
