[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Электронная почта"
   desc = "Настройки отправки электронной почты"
%]

[% param_descs = {
  mail_delivery_method => "Определяет возможность и способ отправки электронной почты.<br>
                           <ul>
                             <li>
                               'Sendmail', 'SMTP' и 'Qmail': стандартные почтовые MTA.
                               Для использования sendmail под Windows потребуется установить отдельно
                               объект, поддерживающий данный функционал.
                             </li>
                             <li>
                               '" _ get_choice("Test") _ "' используется для отладки: вся исходящая почта 
                               вместо отправки сохраняется в 'data/mailer.testfile'.
                             </li>
                             <li>
                               '" _ get_choice("None") _ "': запретить использование электронной почты полностью. $terms.Bugzilla 
                               продолжает работать и выдавать сообщения об отправке, но фактически ничего
                               не отправляется и не сохраняется.
                             </li>
                           </ul>",

  mailfrom => "Адрес электронной почты экземпляра ${terms.Bugzilla}.  Некоторые почтовые " _
              "системы требуют, чтобы этот адрес был исправен.",

  use_mailer_queue => "В больших базах данных $terms.Bugzilla сохранение"
    _ " изменений ${terms.bugs_gen} замедляется отправкой большого количества"
    _ " сообщений.  Этот параметр включает функцию постановки сообщений"
    _ " в очередь для рассылки в фоновом режиме. Это требует"
    _ " установки дополнительных модулей Perl (список приведен"
    _ " в соответствующем разделе <kbd>checksetup.pl</kbd>), и запуска"
    _ " по расписанию демона <code>jobqueue.pl</code> (в противном случае"
    _ " сообщения не будут отправлены). Очередь действует для всех сообщений $terms.Bugzilla,"
    _ " не только изменений ${terms.bugs_gen}.",

  smtpserver => "Адрес сервера SMTP (при использовании метода 'SMTP' для отправки).",

  smtp_username => "Имя пользователя для аутентификации на сервере SMTP. " _
                   "Не заполняйте это поле если сервер SMTP не требует аутентификации.",

  smtp_password => "Пароль для аутентификации на сервере SMTP. " _
                   "Значение поля игнорируется если не установлен параметр smtp_username.",
                   
  smtp_ssl => "Включить поддержку SSL для SMTP.",

  smtp_debug => "Печать детальной информации об обмене terms.Bugzilla с " _
                "сервером SMTP в журнал ошибок веб-сервера. " _
                "Используется для диагностики проблем отправки сообщений.",


  whinedays => "Количество дней, которые $terms.bug может находиться без движения в " _
               "состоянии 'Подтверждённая' до начала автоматического оповещения владельцу.<br> " _
               "Для отключения функции установите значение 0.",

  globalwatchers => "Список пользователей через запятую.  Члены списка получат " _
                    "копии всех сообщений, отправляемых системой." }

%]
