[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Просмотр патчей"
   desc = "Настройки внешних приложений для работы с патчами"
%]

[% param_descs = {
  cvsroot => "Корень сервера <a href=\"http://www.cvshome.org\">CVS</a> " _
             "для вызова 'cvs diff'. Используется при просмотре патча " _
             "(функция 'Сравнить') для определения абсолютных путей " _
             "даже если пользователи использовали относительные при " _
             "генерации патча. (Примечание: если репозиторий CVS находится " _
             "в сети и требует пароля для доступа, следует убедиться что " _
             "с сервера $terms.Bugzilla выполнен'cvs login' или " _
             "явно указать пароль " _
             "<a href=\"http://www.cvshome.org/docs/manual/cvs_2.html#SEC26\">как " _
             "часть пути к репозиторию CVS</a>.) Оставьте поле пустым если " _
             "CVS не используется.",

  cvsroot_get => "Корень сервера CVS, который $terms.Bugzilla использует для " _
                 "получения патчей. Для некоторых площадок создаются отдельные " _
                 "копии репозитория CVS, иногда локально на сервере $terms.Bugzilla " _
                 "для ускорения его работы. " _
                 "Если копирование репозитория не используется, установите значение, " _
                 "совпадающее с cvsroot (и оставьте пустым, если cvsroot пусто).",

  bonsai_url => "Адрес URL сервера <a href=\"http://www.mozilla.org/bonsai.html\">Bonsai</a> " _
                "с информацией о данном репозитории CVS. " _
                "Адрес используется при просмотре патча для генерации ссылок " _
                "на авторство разделов патча (добавлением " _
                "'/cvsblame.cgi?...' к данному URL). Оставьте поле пустым если " _
                "Bonsai не используется.",

  lxr_url => "Адрес URL сервера <a href=\"http://sourceforge.net/projects/lxr\">LXR</a> " _
             "для данного репозитория CVS.  Адрес используется для генерации ссылок " _
             "на LXR для каждого файла, упомянутого в патче. " _
             "Оставьте поле пустым если LXR не используется.",

  lxr_root => "Некоторые серверы LXR индексируют репозитории CVS не от корня — " _
              "например, для <a href=\"http://lxr.mozilla.org/mozilla\">Mozilla</a> " _
              "сервер просматривает только путь <code>mozilla/</code>. Это указывает " _
              "что адреса URL строятся относительно этого пути. " _
              "Оставьте поле пустым если сервер LXR индексирует от корня CVS " _
              "или LXR не используется." }
%]
