[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Настройки поиска"
   desc = "Настройки по умолчанию для поиска и списка ${terms.bugs_gen}"
%]

[% param_descs = {
  quip_list_entry_control => "Управление доступом к списку цитат.
                              <ul>
                                <li>
                                  open - Пользователи могут добавлять цитаты в список, и эти
                                  записи немедленно могут быть показаны.
                                </li>
                                <li>
                                  moderated - Добавление цитат разрешено, но требуется 
                                  утверждение модератора для показа.
                                </li>
                                <li>
                                  closed - Добавление цитат не допускается.
                                </li>
                              </ul>",

  mostfreqthreshold => "Минимальное количество дублей ${terms.bug_gen} для включения ее в список " _
                       "<a href=\"duplicates.cgi\">наиболее часто регистрируемых ${terms.bugs_gen}</a>. " _
                       "В большой базе данных при долгой загрузке этой страницы рекомендуется " _
                       "увеличить это значение.",

  mybugstemplate => "Адрес URL для получения списка 'всех ${terms.bugs_gen} пользователя'. " _
                    "%userid% будет заменен на учетную запись пользователя.",

  defaultquery => "Запрос по умолчанию, составляющий страницу расширенного поиска. " _
                  "Увы, он в формате URL и не вполне " _
                  "удобен для чтения.",

  search_allow_no_criteria =>
    "За исключением случая, когда код явно разрешает показ всех $terms.bugs_gen, этот " _
    "параметр разрешает блокировать выполнение запросов, не имеющих критериев. " _
    "Когда он отключен, для запроса должен быть указан какой-либо критерий, ограничивающий " _
    "количество $terms.bugs_gen, показываемых пользователю. Когда он включен, пользователь " _
    "может выполнять запрос, не указывая критериев, и видеть список всех $terms.bugs_gen, к " _
    "которым он допущен. Включение этого параметра не рекомендуется на больших " _
    "инсталляциях.",

  default_search_limit =>
    "По умолчанию, $terms.Bugzilla ограничивает кол-во результатов поиска, "
    _ " произведённого через веб-интерфейс, этим числом, по причинам"
    _ " производительности. (Это влияет только на HTML-формат результатов поиска -- на "
    _ " CSV, XML и другие форматы это не влияет). Пользователи могут щёлкнуть "
    _ " по ссылке на странице результатов поиска, чтобы увидеть все результаты."
    _ "<p>Обычно вам не надо это менять - значение по умолчанию"
    _ " должно быть приемлемо для большинства инсталляций.</p>",

  max_search_results =>
    "Максимальное число $terms.bugs_gen, которые <strong>в принципе</strong>"
    _ " можно отобразить на странице результатов поиска. Это ограничение не влияет на"
    _ " графические и табличные отчеты.",

} %]
