[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Теневая база данных"
   desc = "Необязательная функция для повышения производительности базы данных"
%]

[% param_descs = {
  shadowdbhost => "Хост, на котором расположена теневая база данных.",

  shadowdbport => "Порт теневой базы данных. Игнорируется, если не настроен " _
                  "<tt>shadowdbhost</tt>. Примечание: при локальном размещении " _
                  "теневой БД, MySQL игнорирует значение настройки, поэтому следует " _
                  "явно указывать <tt>shadowdbsock</tt>.",

  shadowdbsock => "Имя сокета для подключения к теневой базе данных на " _
                  "локальной системе. Настройка является обязательной, поскольку " _
                  "MySQL игнорирует указанный клиентом порт и использует заданный " _
                  "при компиляции путь до сокета (в системах Unix) для соединения " _
                  "с локальным сервером. Если значение не указано и база данных " _
                  "расположена локально, значение <tt>shadowdbport</tt> " _
                  "игнорируется.",

  shadowdb => "Имя теневой базы данных, которая используется $terms.Bugzilla " _
              "как копия фактической базы, только для чтения. " _
              "Используется для переноса нагрузки медленных и сложных запросов " _
              "на чтение и повышения скорости работы основной БД. Данная БД " _
              "находится на <tt>shadowdbhost</tt>, и должна существовать. " _
              "$terms.Bugzilla не обновляет ее, при использовании этих параметров " _
              "требуется настройка репликации MySQL." }
%]
