[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Выбор пользователей"
   desc = "Настройка функций выбора пользователей"
%]

[% param_descs = {
  usemenuforusers => "Использование списков выбора везде где требуется " _
                     "указание пользователя (вместо текстовых полей). " _
                     "Не включайте эту возможность в базах данных с большим " _
                     "количеством пользователей.",
                     
  ajax_user_autocompletion => "При наборе текста в определенных пользовательских " _
                              "полях будет отображаться список совпадений, из " _
                              "которого можно сделать выбор.", 

  maxusermatches => "Лимит количества пользователей, соответствующих выражению поиска.<br> " _
                    "Если установлено значение '1', для выражений поиска с неоднозначным " _
                    "результатом не отображается ничего.  Используется для сохранения " _
                    "в секрете адресов.<br>  Нулевое значение отключает лимит.",

  confirmuniqueusermatch => "Запрашивать ли подтверждение, если введенное выражение " _
                            "соответствует ровно одному пользователю." }
%]
