[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% INCLUDE global/header.html.tmpl title = "Руководство по описанию $terms.bugs_gen" %] 

  <p>Чем эффективнее составлено сообщение об [% terms.bug_dat %], 
  тем вероятнее, что она будет исправлена. 
  Это руководство о том, как писать такие сообщения.

<h3>Правила</h3>

  <ul>
    <li>Будьте точны</li>
    <li>Выражайтесь ясно - так, чтобы другие могли повторить [% terms.bug_acc %]</li>
    <li>Одна [% terms.bug %] в одном сообщении</li>
    <li>Нет [% terms.bugs_gen %], не заслуживающих упоминания - 
    мелкие [% terms.bugs %] могут скрывать более крупные</li>
    <li>Четко отделяйте факты от умозаключений</li>
  </ul>

<h3>Прежде чем писать сообщение</h3>

<ol>
  <li>Повторите [% terms.bug_acc %] на наиболее свежей версии
  программы, возможно она уже исправлена.
  </li>

  <li>Выполните <a href="query.cgi?format=specific">поиск</a> 
  в [% terms.Bugzilla %] среди уже зарегистрированных [% terms.bugs_gen %],
  чтобы избежать дублирования.</li>
</ol>

<h3>Сообщение о новой [% terms.bug_obj %]</h3>

<p>Если [% terms.bug %] повторяется в свежей версии и никто не 
зарегистрировал ее ранее:</p>

<ol>
 <li>На главной странице [% terms.Bugzilla %] выберите 
 "<a href="enter_bug.cgi">Регистрация новой [% terms.bug_gen %]</a>"</li>
 <li>Выберите объект, в котором обнаружена [% terms.bug %]</li>
 <li>Заполните форму.  Необходимые пояснения для ее понимания:</li>
</ol>

  <blockquote>
    <p><b>Раздел</b>: В каком разделе объекта проявляется 
          [% terms.bug %]?<br>
    Это поле обязательное.
    Нажав на ссылку "Раздел", можно увидеть краткое описание разделов 
    объекта.  Если ничего не подходит, ищите раздел "General".</p>

    <p><b>[% field_descs.op_sys FILTER html %]:</b> В какой операционной системе
    проявляется [% terms.bug %]?
    (например: Linux, Windows XP, Mac OS X.)<br>
    Если известно, что [% terms.bug %] происходит в любой операционной системе,
    выберите <em>[% display_value("op_sys", "All") FILTER html %]</em>.
    Если вашей [% field_descs.op_sys FILTER html %] нет в списке, используйте
    <em>[% display_value("op_sys", "Other") FILTER html %]</em>.</p>

    <p><b>Аннотация:</b> <b>Краткое, в пределах 60 символов, описание 
    [% terms.bug_gen %].</b><br>
    Хорошая аннотация должна <b>описывать [% terms.bug_acc %] ясно и 
    однозначно</b>. Следует описывать именно проблему, а не варианты решения.<br>
    <ul>
     <li>Правильно: "<tt>Отмена диалогового окна копирования файла вызывает
     аварию менеджера файлов</tt>"</li>
     <li>Неудачно: "<tt>Сбой программы</tt>"</li>
     <li>Неудачно: "<tt>Не отображается мой сайт</tt>"</li>
    </ul>

    <b>Описание:</b>
    В этом поле нужно написать детальный отчет об [% terms.bug_dat %], включающий в себя:</p>

    <blockquote>
      <p><b>Общее описание:</b> Более развернутая аннотация.</p>

      <blockquote>
<pre>
В версии для Mac OS выделение мышью на любой странице вызывает сбой в функции NSGetFactory.
</pre>
      </blockquote>

      <p><b>Как воспроизвести:</b> Действия, которые приводят к 
      [% terms.bug_dat %] (по шагам, кратко и четко). Опишите особенности 
      установки и настройки.</p>

      <blockquote>
<pre>
1) Открыть любую страницу. (Например, используемую по умолчанию 
resource:/res/samples/test0.html)

2) Выделите текст мышью. (Точнее, нажав клавишу мыши в любой точке страницы,
тяните указатель вниз к границе окна.)                   
</pre>
      </blockquote>

      <p><b>Реальные результаты:</b> Что произошло после описанных шагов 
      на самом деле.</p>

      <blockquote>
<pre>
Крах приложения.
</pre>
      </blockquote>

      <p><b>Ожидаемые результаты:</b> Что должно было произойти, если бы 
      [% terms.bug_gen %] не было.</p>

      <blockquote>
<pre>
Должна быть прокрутка окна вниз с выделением текста. (Или, как минимум, 
приложение не должно завершаться аварийно.)
</pre>
      </blockquote>

      <p><b>Версия и [% field_descs.rep_platform FILTER html %]:</b>
      Дата и [% field_descs.rep_platform FILTER lower FILTER html %] версии,
      в которой впервые замечена [% terms.bug %].</p>

      <blockquote>
<pre>
Релиз от 10.08.2006 для Mac OS 10.4.3
</pre>
      </blockquote>

      <p><b>Другие версии и платформы:</b> Воспроизводится или нет 
      [% terms.bug %] на других версиях или платформах (или других объектах,
      если это уместно).</p>

      <blockquote>
<pre>
Не воспроизводится на релизе от 2006-08-10 на Windows XP Home (Service Pack 2)
</pre>
      </blockquote>

      <p><b>Дополнительная информация:</b> Любая другая полезная информация.
      <br><br>Для случаев аварийного завершения:</p>

      <ul>
        <li><b>Windows:</b> укажите тип аварийного завершения и имя модуля, в котором замечена [% terms.bug %].
        (Например, ошибка защиты в модуле apprunner.exe)</li>

        <li><b>Mac OS X:</b> приложите журнал анализатора Crash Reporter, который 
        вызывается при аварии.
        Включайте только раздел отказавшей нити, как правило озаглавленный</li>
        "Thread 0 Crashed". Пожалуйста не вставляйте журнал целиком!</li>
      </ul>
    </blockquote>

  <p>Еще раз проверьте всю указанную вами информацию, затем нажмите кнопку
  "Сохранить". Ваш отчет попадет в базу 
  данных [% terms.Bugzilla %].<br>
  </p>
</blockquote>

[% INCLUDE global/footer.html.tmpl %]
