[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% INCLUDE global/header.html.tmpl title = "Ваш текст со ссылками" %]
[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

<p>
  Скопируйте текст и вставьте сюда:
</p>

<hr>

<p>
<pre class="bz_comment_text">
[%- cgi.param("text") FILTER quoteUrls FILTER html -%]
</pre>
</p>

<hr>

<p>
  Если вы разместите это в тегах <tt>&lt;pre&gt;</tt>, 
  текст будет выглядеть так:
</p>

<hr>

<p>
<pre class="bz_comment_text">
[%- cgi.param("text") FILTER quoteUrls -%]
</pre>
</p>

<hr>

[% INCLUDE global/footer.html.tmpl %]
