[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]
[% INCLUDE global/header.html.tmpl title = "sudo: Работа от имени пользователя" %]

<p>
  [%+ terms.Bugzilla %] имеет возможность выполнять действия от имени других 
пользователей.  Функция называется <i>сеанс sudo</i> и требует наличия специальных
привилегий у пользователя sudo.
</p>

<p>
  Во время сеанса [% terms.Bugzilla %] будет действовать от имени указанного
  пользователя во всех деталях функционирования.  Это особенно важно при отладке
  или при выполнении срочных и критичных работ в отсутствие пользователя.
  [% terms.Bugzilla %] отправит пользователю оповещение о работе от его имени
  в момент начала сеанса, но о содержании сеанса никаких данных не будет.
</p>

<p>
  Для использования этой функции Вы должны быть включены в специальную группу.
  По умолчанию группа включает администраторов.  Другим пользователям и членам 
  других групп доступ может быть предоставлен в индивидуальном порядке.  Для
  получения доступа следует обратиться к администратору: 
  <a href="mailto:[% Param("maintainer") %]">
  [%- Param("maintainer") %]</a>.
</p>

<p>
  Для запрета работы от вашего имени обратитесь к администратору, и уточните
  возможность такого запрета.  Для пользователей, имеющих доступ к работе от 
  имени других, такой запрет установлен автоматически.
</p>

<p id="message">
  [% IF user.in_group('bz_sudoers') %]
    Вы входите в группу <b>bz_sudoers</b>.  Вы можете использовать 
    функцию работы от имени других пользователей.
  [% ELSE %]
    Вы не входите в соответствующую группу и не можете использовать 
    функцию работы от имени других пользователей.
  [% END %]
  [% IF user.in_group('bz_sudo_protect') %]
    <br>
    Вы входите в группу <b>bz_sudo_protect</b>.  Другие пользователи
    не могут использовать функцию для работы от Вашего имени.
  [% END %]
</p>

[% INCLUDE global/footer.html.tmpl %]
