[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # This template has no interface. It's a list of the available report
  # types in Bugzilla.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
  title = "Подготовка отчетов и диаграмм"
  doc_section = "reporting.html"
  style_urls = ['skins/standard/reports.css']
%]

<p>
  [% terms.Bugzilla %] позволяет анализировать состояние базы данных 
  [% terms.bugs_gen %] несколькими способами.
</p>

<h2>Текущее состояние</h2>

<ul>
  <li id="report_search">
    <strong><a href="query.cgi">Поиск</a></strong> -
     просмотр списков [% terms.bugs_gen %].
  </li>
  <li id="report_tabular">
    <strong>
      <a href="query.cgi?format=report-table">Отчеты</a>
    </strong> -
    таблицы количества [% terms.bugs_gen %] в 1, 2 или 3 измерениях, в формате HTML или CSV.
  </li>
  [% IF feature_enabled('graphical_reports') %]
    <li id="report_graphical">
      <strong>
        <a href="query.cgi?format=report-graph">Диаграммы</a>
      </strong> -
      графики, гистограммы и круговые диаграммы.
    </li>
  [% END %]
  <li id="report_duplicates">
    <strong><a href="duplicates.cgi">Дубли</a></strong> -
    список наиболее часто регистрируемых [% terms.bugs_gen %].
  </li>  
  [% Hook.process('current_state') %]
</ul>

  <h2>Выполнение плана за текущий месяц</h2>
  <a href="current_task.cgi">4.1.3 Выполнение текущих производственных задач</a><br/>
  <a href="current_task_groups.cgi">4.1.3 Выполнение текущих производственных задач (По группам)</a><br/>
  <p />
  <a href="current_docs.cgi">4.1.4 Выполнение плана подготовки исполнительной документации</a><br/>
  <a href="current_docs_groups.cgi">4.1.4 Выполнение плана подготовки исполнительной документации (По группам)</a><br/>
  <p />
  <a href="current_docs_groups_10.cgi">4.1.5 Исполнение обязательств по платежам (По группам)</a><br/>
  <a href="current_docs_sum.cgi">4.1.5 Исполнение обязательств по платежам (По группам и суммам)</a><br/>
  <p />
  <a href="current_docs_list.cgi?action=accept">Список задач с приёмкой текущего пользователя</a><br/>
  [% IF user.id == 6 %]
    <p />
    <p />
    <a href="current_change_data.cgi">Изменение сроков дэдлайна</a><br/>
    <a href="current_deadline_null.cgi">Список задач, у кооторых deadline не существует</a><br/>
  [% END %]


[% Hook.process('end') %]

[% PROCESS global/footer.html.tmpl %]
